/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003DA5;
    color: #FFF;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #003DA5;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
}

.win {
    color: green;
}

.loss {
    color: red;
}

#full-schedule-table th,
#full-schedule-table td {
    padding: 10px 20px; /* Adjust the padding values as needed */
}

/* Add this CSS to your existing styles.css file */
#schedule-table th,
#schedule-table td {
    padding: 5px 10px; /* Adjust the padding values as needed */
}

